{{#if bulkSelectEnabled}}
  <td class='star'>
    <input type="checkbox" class="bulk-select">
  </td>
{{/if}}

<td class='main-link clearfix' colspan="{{titleColSpan}}">
  <span class='link-top-line'>
    {{raw-plugin-outlet name="topic-list-before-status"}}
    {{raw "topic-status" topic=topic}}
    {{topic-link topic class="raw-link raw-topic-link"}}
    {{#if topic.featured_link}}
      {{topic-featured-link topic}}
    {{/if}}
    {{raw-plugin-outlet name="topic-list-after-title"}}
    {{#if showTopicPostBadges}}
      {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
    {{/if}}
  </span>

  {{discourse-tags topic mode="list"}}
  {{#if expandPinned}}
    {{raw "list/topic-excerpt" topic=topic}}
  {{/if}}
  {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
</td>

{{#unless hideCategory}}
  {{#unless topic.isPinnedUncategorized}}
    {{raw "list/category-column" category=topic.category}}
  {{/unless}}
{{/unless}}


{{raw "list/crypto-market-cap-column" topic=topic}}
{{raw "list/crypto-price-column" topic=topic}}
{{raw "list/crypto-volume-column" topic=topic}}
{{raw "list/crypto-supply-column" topic=topic}}
{{raw "list/crypto-24h-change-column" topic=topic}}